---
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await Astro.glob('../posts/*.md'); /* dará acceso a la página a los datos de cada archivo de entrada de blog .md. */

const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())]; /* devuelve una lista de todas las etiquetas. */

const pageTitle = "Índice de etiquetas"; /* Defino un título de página  */
---

<BaseLayout pageTitle={pageTitle}> <!-- Paso título de página a la plantilla como atributo de componente. -->

    <div class="tags">
        {tags.map((tag) =>
            (
            <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>  /* <!-- cada etiqueta enlaza con su propia página --> */
            )
        )} 
       
    </div>

</BaseLayout>

    <style>
        a {
          color: #00539F;
        }
      
        .tags {
          display: flex;
          flex-wrap: wrap;
        }
      
        .tag {
          margin: 0.25em;
          border: dotted 1px #a1a1a1;
          border-radius: .5em;
          padding: .5em 1em;
          font-size: 1.15em;
          background-color: #F8FCFD;
        }
      </style>

