---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');/* para devolver información sobre todos tus archivos Markdown. Astro.glob() devolverá un array de objetos, uno por cada entrada del blog. */
const pageTitle = "Mi blog de aprendizaje de Astro";
---

<BaseLayout pageTitle={pageTitle}>
    <p>
        Aquí es donde publicaré sobre mi viaje de aprendizaje de Astro.
    </p>
    <ul>

<!-- La lista completa de entradas del blog se genera ahora dinámicamente, mapeando sobre el array devuelto por Astro.glob().  -->
                {allPosts.map((post) => <BlogPost url= {post.url} title={post.frontmatter.title} />)}

    </ul>
</BaseLayout>