---
import Greeting from "../components/Greeting"
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "Página de inicio"
---

<BaseLayout pageTitle={pageTitle}> <!-- Pasa el título de la página al componente plantilla utilizando un atributo de componente: -->
	<h2>
		Mi primera web con Astro!
	</h2>
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} /><!-- El botón funciona porque la directiva client:load le dice a Astro que envíe y vuelva a ejecutar el JavaScript en el cliente cuando la página cargue, haciendo que el componente sea interactivo. Esto se llama un componente hidratado. -->
</BaseLayout>

