---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "Página de inicio"
---

<BaseLayout pageTitle={pageTitle}> <!-- Pasa el título de la página al componente plantilla utilizando un atributo de componente: -->
	<h2>
		Mi primera web con Astro!
	</h2>
</BaseLayout>

